/* This basic layout borrows heavily from Matthew Levine's "In Search of the Holy Grail"
 * http://www.alistapart.com/articles/holygrail
 * Refer to the article for detailed step-by-step explanation of the layout
 */

html, body, #container{
	height: 100%;
}

#container {
	min-width: 950px;		/* 2 x nav-menu width + right-notification-widget width, to prevent
												 the layout from being broken on browser resizing */
}

#header {
	height: 100px;
	position: relative;
}

#logo-wrapper{
	width: 100%;
	height: 100%;
	position: relative;
}

#banner-text {
	position: absolute;
	width: 100%;
	top: 15%;
}

#club-logo{
	top: 8%;
	position: absolute;
	height: 80px;
	width: 80px;
	left: 30%;
	background: url('images/lug_logo_hd_small.png');
}

#college-logo{
	top: 8%;
	position: absolute;
	height: 80px;
	width: 80px;
	right: 30%;
	background: url('images/clg_logo_hd_small.png');
}

#login-button {
	top: 30px;
	position: absolute;
	height: 32px;
	width: 32px;
	right: 20px;
	background: url('images/signin.png');
	opacity: 0.7;
}

#login-button:hover {
	opacity: 1;
	cursor: pointer;
}

#login-dialog {
	display: none;
	width: 300px;
	height: 300px;
	top: 70px;
	right: 20px;
	position: fixed;
	background: white;
	border-radius: 10px;
	z-index: 10;
	box-shadow: 0px 0px 10px #222222;
}

#wrapper {
	padding-left: 400px;
	padding-right: 50px;    /* Should be reset back to 250px when the notification widget is implemented */

	height: 444px;
}

.wrapper-column {
	position: relative;
	float: left;
}

#content {
	width: 100%;
	height: 100%;
	padding-right: 50px;
}

#content-body-wrapper {
	height: 350px;
	overflow-y: auto;
}

#nav-menu {
	width: 400px;
	margin-left: -105%;
	right: 400px;
	height: 400px;
}

#right-notification-widget {
	width: 250px;
	margin-right: -250px;
}

#footer {
	clear: both;							/* Needed to prevent footer from floating as well */

	padding-top: 14px;
	height: 125px;
}

* html #nav-menu {					/* This is a hack for IE6, just remember that the offset is the
															 size of the right-notification-widget */
	left: 350px;
}

.nav-menu-list {
	position: relative;
	top: 50%;
	left: 50%;
}

.nav-menu-list li{
	margin-left: -63px;				/* Magnitude should be equal to radius of node */
	margin-top: -63px;
	cursor: pointer;
}

#footer-wrapper {
	width: 900px;
	margin: 0 auto;
}

.footer-column {
	float: left;
	width: 550px;
	margin: 0 50px 0 0;
}

.footer-column:first-child {
	width: 250px;
}

.footer-column h4{
	margin: 0 0 20px;
}

#footer-follow {
	float: left;
}

#footer-follow li {
	width: 58px;
	height: 58px;
	float: left;
	margin: 0 10px 10px 0;
}

#footer a {
	text-decoration: none;
	display: block;
	position: relative;
	top: 25px;
	font-size: 0.75em;
}

#footer-follow span {
	background: url(images/social-media-sprite.png);
	height: 58px;
	width: 58px;
	display: block;
	position: absolute;
	top: -25px;
	left: 0;
	cursor: pointer;
	background-color: white;
	border-radius: 50%;
}

#facebook span {
	background-position: 0 0;
}

#facebook span:hover {
	background-position: -62px 0;
	background-color: #233678;
}

#twitter span {
	background-position: -124px 0;
}

#twitter span:hover {
	background-position: -187px 0;
	background-color: #00aced;
}

#googleplus span {
	background-position: -255px 0;
}

/* Create the '+' sign since the PNG contains only the 'g' sybmbol */
#googleplus span:after {
	left: 1.3em;
	top: 0.1em;
	position: absolute;
	display: block;
	content: "+";
	font-size: 2.2em;
	font-weight: bold;
	color: #cf3717;
	font-family: georgia;
}

#googleplus span:hover {
	background-position: -317px 0;
	background-color: #cf3717;
}

/* Change color of '+' on hover( Be careful about the syntax.
 * :hover is a class selector while :after is an element selector ) */
#googleplus span:hover:after {
	color: white;
}

#mailing-list {
	margin-top: 10px;
}

#mailing-list div{
	float: left;
}
