/* This file sets the styles of the various components of the website */

@font-face {
  font-family: 'NunitoRegular';
  src: url('../fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monda-Regular';
  src: url('../fonts/Monda-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monda-Bold';
  src: url('../fonts/Monda-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PaytoneOne';
  src: url('../fonts/PaytoneOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UnicaOne-Regular';
  src: url('../fonts/UnicaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#container{
  background-color: black;
}

#wrapper {
	/*background: url('images/grid.png');*/
	background: -webkit-radial-gradient(center, circle farthest-side, #A4E893, #47F573);
    background: -moz-radial-gradient(center, circle farthest-side, #A4E893, #47F573);
    background: -o-radial-gradient(center, circle farthest-side, #A4E893, #47F573);
	background-color: #47F573;
}

.wrapper-column {
	font-size: 18pt;
}

.nav-menu-list li {
	border: none;
	font: 16pt 'Monda-Bold';
}

.nav-menu-list li:hover {
	color: white;
	background: #003010;
}

.centre-node {
	background-color: white;
	font-size: 14pt;
	color: #004020;
}

.child-node {
	background: -webkit-radial-gradient(white 0%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0) 100%);
	background: -moz-radial-gradient(white 0%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0) 100%);
	background: -o-radial-gradient(white 0%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0) 100%);
	background: radial-gradient(white 0%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0) 100%);
	font-size: 14pt;
	color: #004020;
}

.back-node {
	background-color: #009146;
	font-size: 14pt;
	color: white;
}

#footer {
	background: -webkit-linear-gradient(#444444, #000000);
	font: 11.5pt 'Monda-Regular';
}

#footer-wrapper {
	color: white;
}

#content h1
{
	color: #004020;
	font: 32px 'PaytoneOne';
}

#content-body
{
	color: #004020;
	font: 14pt 'Monda-Regular';
	transition: opacity 500ms;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
}

#header
{
	font: 48px 'UnicaOne-Regular';
	color: white;
	text-align: center;
	width: 100%;
	background: -webkit-linear-gradient(black, #444444);
}

#club-logo{
	opacity: 0.7;
}

#college-logo{
	opacity: 0.7;
}
